<%-include('../partials/head')%>
<%-include('../partials/navbarcontain')%>
<div class="row flex-nowrap mb-4">
    <div class="col"><img class="img-fluid w-100 " src="edited/image0.jpeg" alt=""></div>
    <div class="col"><img class="img-fluid w-100 " src="edited/image1.jpeg" alt=""></div>
  </div>
  <div class="row flex-nowrap">
    <div class="col shadow-lg p-3 mb-5 bg-white rounded">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perferendis. Quidem officiis iste repellat delectus, expedita explicabo, aperiam harum ea maiores natus molestiae ut qui deleniti ex doloremque, facilis dolorum.
    Sapiente explicabo placeat nisi iusto alias vero sed dignissimos aliquid quia id totam, ullam, illum excepturi? Doloremque corrupti incidunt amet adipisci provident, laboriosam esse doloribus suscipit laudantium tempore exercitationem mollitia!
    Aspernatur architecto, repellat voluptates ut enim velit saepe possimus dolorem aliquid id consequuntur ratione quo explicabo deserunt quod delectus ipsum unde a inventore cum omnis? Reiciendis, necessitatibus. Deserunt, vel! Perferendis.
    Eius libero consequuntur corporis sint, tempore voluptatum reiciendis dolorem excepturi. Sit animi iure doloribus voluptates non voluptas maiores rerum aut ex odit ipsum tempora error tenetur numquam, obcaecati cum quia.
    Pariatur voluptatem asperiores officia accusantium assumenda ipsum qui adipisci quidem error et. Quasi error nesciunt doloremque fuga ipsam in quam tenetur, molestias similique fugiat ad amet ipsum repellendus vero voluptatum.</div>
  </div>

<%-include('../partials/prefoot')%>
</body>
</html>