<%-include('../partials/head')%>
<%-include('../partials/navbarcontain')%>

<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get('success') === 'true') {
    const flash = document.createElement('div');
    flash.className = 'alert alert-success';
    flash.textContent = 'Your message was sent successfully!';
    document.body.prepend(flash); // Or insert it wherever you want
      setTimeout(() => {
  flash.remove();
}, 5000);
  }
</script>

        <div class="row flex-nowrap">
          <div class="col"><img class="img-fluid w-100 m-1" src="edited\mynewalpaper-03.jpg" alt=""></div>
          <div class="col"><img class="img-fluid w-100 m-1" src="edited/mynewalpaper-07.jpg" alt=""></div>
        </div>
        <div class="row flex-nowrap">
          <div class="col"><img class="img-fluid w-100 m-1" src="edited/mynewalpaper-35.jpg" alt=""></div>
          <div class="col"><img class="img-fluid w-100 m-1" src="edited/mynewalpaper-28.jpg" alt=""></div>
        </div>
        <div class="row flex-nowrap">
          <div class="col"><img class="img-fluid w-100 m-1" src="edited/mynewalpaper-42.jpg" alt=""></div>
          <div class="col"><img class="img-fluid w-100 m-1" src="edited/mynewalpaper-53.jpg" alt=""></div>
        </div>
        <%-include('../partials/prefoot')%>
</body>
</html>